/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 62, 5%;
  font-family: "Whitney", Helvetica, Arial, sans-serif;
}

.border {
  border: 1px dashed black;
}               

.wborder {
  border: 1px dashed white;
}

ul {
  list-style: none;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  width: 60%;
  max-width: 1200px;
}

/* FLEXBOX */
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}


/* HEADER */

/* Nav */
header > section:nth-child(1) {
  height: 80px;
  /* DEBUG */
  background-color: lightblue;
}

.head_logo,
.head_menu,
.head_login {
  padding: 10px;
  /* DEBUG */
  background-color: rgb(255, 251, 134);
}

.head_logo,
.head_login {
  width: 20%;
}

.head_menu {
  width: 60%;
}

.head_login{
  text-align: right;
}

.head_menu ul li{
  display: inline-block;  
}

.head_menu ul{
  text-align: center;
}

/* Banner */
header > section:nth-child(2) {
  /* DEBUG */
  background-color: blue;
  height: 400px;
}

.head_jumbo_text {
  width: 60%;
  padding: 5em 3em;
  /* DEBUG */
  background-color: fuchsia;
}

/* MAIN */
.main_three {
  min-height: 500px;
}

.main_center {
  min-height: 600px;
}

.bg_gray {
  background-color: lightgray;
}

/* Three Row */

.frame_blue {
  width: 60%;
  /* DEBUG */
  height: 300px;
  background-color: aqua;
}

.frame_pink {
  width: 40%;
  /* DEBUG */
  height: 300px;
  background-color: pink;
}

/* Centered Row */

.frame_green {
  width: 100%;
  /* DEBUG */
  height: 400px;
  background-color: green;
}

/* FOOTER */

footer {
  background-color: black;
}

footer > section:nth-child(1){
  min-height: 300px;
  border-bottom: 1px solid white;
  padding-top: 1em;
}

footer > section:nth-child(2){
  min-height: 90px;
  /* senza mettere il flex utilizzo il padding  */
  padding-top: .5em;
  padding-bottom: 5em;
}

/* Footer Columns */

.footcol {
  width: 16%;
  /* DEBUG */
  min-height:  250px;
  background-color: lightseagreen;
}

.footcol_big {
  width: 36%;
  /* DEBUG */
  min-height:  250px;
  background-color: lightcoral;
}

/* Footer Registration */


.footer_lightframe {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* DEBUG */
  min-height: 60px;
  background-color: lightskyblue;
}

.footer_lightframe > div {
  padding: 5px;
  /* DEBUG */
  background-color: coral;
}
